includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 5

    paths:
        - src
        - tests

    ignoreErrors:
        -
            message: '#Trait ProgrammerHasan\\Seo\\Concerns\\HasSeo is used zero times and is not analysed\.#'
            path: src/Concerns/HasSeo.php